[Unit]
Description=Source Address Daemon
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sad eth1 eth2
DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
